* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Faculty Glyphic', serif;
}

body {
    font-family: "Faculty Glyphic", serif;
    background: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}

#startscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#startscreen h1 {
    font-size: 3em;
    font-weight: 900;
    color: #eee;
}

#gameboard {
    display: none;
    flex-direction: column;  
    gap: 20px;
    padding: 20px;
}

#top-row {
    display: flex;
    flex-direction: row;  
    gap: 10px;
}

#tableau {
    display: flex;
    flex-direction: row;    
    gap: 10px;
    align-items: flex-start; 
}

.tableau-col {
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

#stock-waste {
    display: flex;
    gap: 10px;
}

#foundations {
    display: flex;
    gap: 10px;
}

.card-red {
    font-family: monospace;
    color: #a855f7;
}

.card-black {
    font-family: monospace;
    color: #2dd4bf;
}

.card:hover {
    outline: 2px solid yellow;
    text-shadow: 0 0 8px yellow;
    cursor: pointer;
}

.card-cursor {
    outline: 2px solid gold;
}